@model IEnumerable<mvcbuilder.Models.Base.page>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.roles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.namePage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.urlPage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.keyword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.meta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.roles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.namePage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.urlPage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.keyword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.meta)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idPage }) |
            @Html.ActionLink("Details", "Details", new { id=item.idPage }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idPage })
        </td>
    </tr>
}

</table>
